.block-request{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.block-request span{
    font-weight: bold;
}

@media (max-width: 768px) {
    .block-request{
        font-size: 16px;
    }

    .block-request span{
        font-size: 16px;
    }
}