<div class="background">
    <div class="block-form">
        <div class="block">
            <a class="logo-inacif" href="./solicitud">
                <img class="logo" src="https://www.inacif.gob.gt/images/otros/newlogo.png" alt="logo">
            </a>
            <div class="title">¡Correo Confirmado Con Éxito!</div>
            <div class="image">
                <img src="https://cdn-icons-png.flaticon.com/512/6364/6364343.png" alt="logo">
            </div>
            <div class="block-request">
                Número de solicitud: <span>{{requestId}}</span>
            </div>
            <div class="text">El resultado de su solicitud se le estará enviando al correo electrónico. En caso de que su solicitud sea satisfactoria, se le estarán enviando los detalles del procedimiento a seguir para darle seguimiento a su solicitud.</div>
            <div class="block-button">
                <button class="btn btn-success" routerLink="/solicitud">Aceptar</button>
            </div>
        </div>
    </div>
</div>