.background {
  position: absolute;
  width: 100%;
  background-color: var(--aux4);
}

.block-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo-inacif {
  display: flex;
  justify-content: center;
}

.logo-inacif .logo {
  width: 400px;
  height: auto;
}

// Content Container
.block {
  width: 30%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.514);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 25px 0px;
}

// Image container
.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 125px;
  height: auto;
}

// Description text
.text {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.block-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media only screen and (min-width: 1200px) {
  .logo-inacif .logo {
    width: 200px;
  }
}

@media (max-width: 1200px) {
  .block {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .logo-inacif .logo {
    width: 200px;
  }

  .block-form {
    margin-top: 56px;
  }

  .title {
    font-size: 18px;
  }

  .text {
    font-size: 16px;
  }
}