
:root 
{
    --tab-bottom-border: #217bd4;
    --principal: #212A3E;
    --aux1: #394867;
    --aux2: #9BA4B5;
    --aux3: #F1F6F9;
    --aux4: #E4E9F7;
    --verticalTable: #5ea175;
    --success: #1f9e3f;
    --danger: #9e1f1f;
}