<div class="background">
    <div class="block-form">
        <div class="block">
            <a class="logo-inacif" href="/solicitud">
                <img class="logo" src="../../../assets/img/logo-inacif.png" alt="logo">
            </a>
            <div class="title">¡Solicitud Enviada Correctamente!</div>
            <div class="image">
                <img src="../../../../assets/img/circle-check.png" alt="logo">
            </div>
            <div class="text">Recibirá un correo con los detalles que debe seguir para continuar con el proceso de la solicitud</div>
            <div class="block-button">
                <button class="btn btn-success" routerLink="/solicitud">Aceptar</button>
            </div>
        </div>
    </div>
</div>